<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="user id=sa;password=SUPER;server=DESKTOP-IP33S1S;Trusted_Connection=false;database=Test;connection timeout=400;"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>